body {
    overflow-x: hidden;
}

main.home .full-container {
    display: flex;
    flex-direction: column;
    // width: 1344px;
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;
    gap: 120px;
    overflow: hidden;

    .group-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;

        p.title {
            font-weight: 700;
        }

        .container-wrapper {
            width: 100%;

            .image-list-container {
                .image-item {
                    display: inline-block;
                    border-radius: 5px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        pointer-events: none;
                    }
                }
            }
        }

        button {
            width: 250px;
            height: 48px;
            background-color: #5b85d9;
            color: white;
            font-size: 18px;
            border-radius: 50px;
            font-weight: 700;
        }

        .tiled-list-container {
            .image-item {
                display: inline-block;
                overflow: hidden;
                // width: 250px;
                width: 100%;
                border-radius: 5px;

                a {
                    display: block;
                    img {
                        width: 100%;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}
