body {
    overflow-x: hidden;
}

main .full-container {
    display: flex;
    flex-direction: column;
    width: 1344px;
    margin: 0 auto;
    gap: 120px;

    .group-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 48px;
        justify-content: center;
        align-items: center;

        p.title {
            font-size: 42px;
            font-weight: 700;
        }

        .image-list-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;

            .image-item {
                overflow: hidden;
                width: 250px;
                height: 350px;
                border-radius: 5px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        button {
            width: 250px;
            height: 48px;
            background-color: #5b85d9;
            color: white;
            font-size: 18px;
            border-radius: 50px;
            font-weight: 700;
        }

        .tiled-list-container {
            column-count: 5;
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            // justify-content: space-between;

            .image-item {
                display: inline-block;
                overflow: hidden;
                width: 250px;
                border-radius: 5px;
                margin-bottom: 24px;

                img {
                    width: 250px;
                }
            }
        }
    }
}
