<header>
    <div class="header-inside">
        <div class="logo-container">
            <a href="/">
                <img id="logo" src="../../assets/images/logo_type1.png" />
            </a>
        </div>

        <div class="menu-container">
            <ul id="menu-list">
                <li class="now">
                    <a href="/">홈</a>
                </li>
                <li>
                    <a href="/explore">탐색</a>
                </li>
                <li>
                    <a href="/create">만들기</a>
                </li>
            </ul>
        </div>

        <div class="search-container" data-search-container="search-container">
            <div id="search-box">
                <div class="icon">
                    <span class="material-symbols-rounded"> search </span>
                </div>
                <div class="icon mobile-back">
                    <span class="material-symbols-rounded"> arrow_back </span>
                </div>
                <input type="text" id="search-query" placeholder="검색어를 입력하세요..." />
            </div>

            <div id="related-box">
                <ul id="related-list"></ul>
            </div>
        </div>
    </div>
</header>
