<div class="full-container">
    <div class="detail-container">
        <div class="image-wrapper">
            <img id="view-image" src="../images/test_asset/110.jpg" />
        </div>
        <div class="tag-list-container">
            <ul class="tag-list">
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="group-section">
        <p class="title">관련 이미지</p>
        <div class="tiled-list-container">
            <figure class="image-item">
                <img src="../images/test_asset/10.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/100.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/106.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/104.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/102.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/150.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/130.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/180.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/11.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/414.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/123.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/13.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/108.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/150.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/114.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/113.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/108.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/137.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/128.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/131.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/148.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/146.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/154.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/17.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/144.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/192.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/17.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/178.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/169.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/172.jpg" alt="" />
            </figure>
        </div>
    </div>
</div>
