<div class="full-container">
    <div class="detail-container">
        <div class="image-wrapper">
            <img id="view-image" src="../images/test_asset/110.jpg" />
        </div>
        <div class="tag-list-container">
            <ul class="tag-list">
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
                <li class="tag-item">
                    <button>#무한도전</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="group-section" id="related-group">
        <p class="title">관련 이미지</p>
        <div class="tiled-list-container"></div>
    </div>
</div>
