<div class="full-container">
    <div class="group-section" id="popular-group">
        <p class="title">#최근_가장_인기있는_짤</p>
        <div class="image-list-container"></div>
        <button>더 불러오기</button>
    </div>
    <div class="group-section" id="recent-group">
        <p class="title">#최근_추가된_짤</p>
        <div class="image-list-container"></div>
        <button>더 불러오기</button>
    </div>
    <div class="group-section" id="new-group">
        <p class="title">새로운 짤을 발견해보세요!</p>
        <div class="tiled-list-container"></div>
    </div>
</div>
