<div class="full-container">
    <div class="group-section">
        <p class="title">#최근_가장_인기있는_짤</p>
        <div class="image-list-container">
            <div class="image-item">
                <img src="../images/test_asset/3.jpg" alt="" />
            </div>
            <div class="image-item">
                <img src="../images/test_asset/4.jpg" alt="" />
            </div>
            <div class="image-item">
                <img src="../images/test_asset/6.jpg" alt="" />
            </div>
            <div class="image-item">
                <img src="../images/test_asset/7.jpg" alt="" />
            </div>
            <div class="image-item">
                <img src="../images/test_asset/9.jpg" alt="" />
            </div>
        </div>
        <button>더 불러오기</button>
    </div>
    <div class="group-section">
        <p class="title">#최근_추가된_짤</p>
        <div class="image-list-container">
            <div class="image-item">
                <img src="../images/test_asset/10.jpg" alt="" />
            </div>
            <div class="image-item">
                <img src="../images/test_asset/40.jpg" alt="" />
            </div>
            <div class="image-item">
                <img src="../images/test_asset/60.jpg" alt="" />
            </div>
            <div class="image-item">
                <img src="../images/test_asset/703.jpg" alt="" />
            </div>
            <div class="image-item">
                <img src="../images/test_asset/900.jpg" alt="" />
            </div>
        </div>
        <button>더 불러오기</button>
    </div>
    <div class="group-section">
        <p class="title">새로운 짤을 발견해보세요!</p>
        <div class="tiled-list-container">
            <figure class="image-item">
                <img src="../images/test_asset/10.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/100.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/106.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/104.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/102.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/150.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/130.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/180.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/11.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/414.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/123.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/13.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/108.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/150.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/114.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/113.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/108.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/137.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/128.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/131.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/148.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/146.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/154.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/17.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/144.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/192.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/17.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/178.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/169.jpg" alt="" />
            </figure>
            <figure class="image-item">
                <img src="../images/test_asset/172.jpg" alt="" />
            </figure>
        </div>
    </div>
</div>
